<div class="ui form">
<%= form_for @contact do |f| %>
    <% if flash[:error].present? %>
        <p> flash[:error]</p>
    <% end %>
    <%= f.label :name %> <br>
    <%= f.text_field :name, required: true %>

    <br>
    <%= f.label :email %> <br>
    <%= f.text_field :email, required: true %>

    <br>
    <%= f.label :message %> <br>
    <%= f.text_area :message, as: :text %>

 
    <%= f.label :nickname, class:"hidee" %> <br>
    <%= f.text_field :nickname, hint: 'leave this field blank', class:"hidee" %>


    <%= f.submit 'Send Message', class: "ui button" %>
  <% end %>
  </div>